blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 微软-雅黑
}

body,
button,
input,
select,
textarea {
    font: 12px/1 Lucida Grande, Microsoft YaHei, Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif
}

code,
kbd,
pre,
samp,
tt {
    font-family: Courier New, Courier, monospace
}

small {
    font-size: 12px
}

li,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #333
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

q:after,
q:before {
    content: ""
}

fieldset,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    height: 1px
}

body {
    -webkit-text-size-adjust: 100% !important
}

* {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type=password],
input[type=text],
textarea {
    outline-style: none;
    -webkit-appearance: none
}

textarea {
    resize: none
}

input,
textarea {
    outline-style: none
}

address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
    font-style: normal;
    font-weight: 400
}

legend {
    color: #000
}

abbr,
acronym {
    border: 0;
    font-feature-settings: normal;
    font-variant: normal
}

.clearfix {
    overflow: hidden
}

a,
button,
img,
input,
textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #3b8070;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

html {
    font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0
}

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px
}

.button--green:hover {
    color: #fff;
    background-color: #3b8070
}

.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e
}

.footer .footer-banner ul {
    margin: 0 150px;
    text-align: center
}

.nav {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: #fff;
    justify-content: center;
    overflow: hidden
}

.nav,
.nav-div {
    display: flex;
    align-items: center
}

.nav-div {
    width: 1200px;
    justify-content: space-between
}

.nav-left {
    width: 19%;
    height: 60px;
    margin-right: 40px
}

.nav-img {
    display: flex;
    align-items: center;
    width: 124px;
    height: 60px
}

.nav-img .logo {
    width: 143px;
    height: 41px
}

.nav-right {
    height: 60px;
    min-width: 800px
}

.nav-right ul {
    display: flex;
    margin: 20px 0 4px 13px
}

.nav-right ul li {
    height: 20px;
    margin-left: 52px
}

.nav-right ul li .not-active-list {
    font-size: 16px;
    color: #999;
    text-align: left;
    text-decoration: none;
    font-family: PingFangSC-Medium;
    font-family: PingFangSC-Regular
}

.drop-down {
    position: relative;
    width: 10px;
    height: 5px;
    float: right
}

.drop-down-content {
    position: absolute;
    width: 0;
    height: 0;
    top: 8px;
    left: 5px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #777
}

.active-list {
    color: #333;
    font-size: 16px;
    text-align: left;
    font-family: PingFangSC-Medium;
    position: relative
}

.active-list :after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    position: absolute;
    top: 23px;
    left: 25%;
    background: #0056fe
}

.nav-button {
    position: absolute;
    top: 16px;
    right: 150px
}

.nav-button-content {
    width: 86px;
    height: 20px;
    font-size: 14px;
    color: #fcfcfc;
    text-align: left;
    margin: 4px 17px 6px;
    line-height: 20px
}

.nav-button-content a {
    color: #fcfcfc
}

.first-list {
    position: relative
}

.choose-line {
    width: 26px;
    height: 3px;
    position: absolute;
    top: 37px;
    background: #ffd02a
}

.drop-lists {
    margin-top: 18px;
    margin-left: -31px;
    position: absolute;
    z-index: 4
}

.drop-lists-upper {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid hsla(0, 0%, 100%, .8);
    margin: 0 auto
}

.drop-lists-content {
    background: #fff;
    border-radius: 2px;
    width: 143px
}

.drop-lists-content a {
    color: #333;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    width: 100%
}

.drop-list {
    display: list-item;
    width: 118px;
    height: 39px;
    line-height: 39px
}

.drop-list :hover {
    color: #ef9d00;
    background: rgba(187, 185, 185, .4)
}

.drop-list-line {
    opacity: .8;
    background: #c3c3c3;
    width: 79px;
    height: 1px;
    margin: 0 auto
}

@media screen and (max-width:1061px) {
    .nav-button {
        right: 5%
    }

    .nav-right ul li {
        margin-left: 30px
    }
}

.user-info {
    font-family: PingFangSC-Regular;
    position: absolute;
    top: 126px;
    right: -78px;
    padding: 0 19px 32px;
    width: 250px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    text-align: center;
    z-index: 5
}

.user-info h3 {
    font-size: 16px;
    color: #333;
    line-height: 40px;
    padding-top: 20px
}

.user-info .short-line {
    border: 1px solid;
    color: #000;
    width: 15%;
    margin: 0 auto
}

.user-info .registration {
    display: flex;
    margin: 8% auto
}

.user-info .registration input {
    flex: 1;
    font-size: 15px;
    padding-left: 17px;
    background: #eaeaea;
    color: #666;
    border: none;
    border-radius: 3px;
    height: 42px;
    line-height: 42px
}

.user-info .registration a {
    display: block;
    flex: 1;
    margin-top: 5%;
    background: #ffba00;
    border-radius: 3px;
    line-height: 46px;
    text-align: center;
    font-size: 15px;
    color: #fff
}

.user-info .registration-footer {
    margin: 0 -19px -32px;
    padding: 34px 19px;
    background: #f6f6f6
}

.user-info .registration-footer h4 {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    padding-bottom: 10px;
    text-align: left
}

.user-info .registration-footer div {
    position: relative;
    padding: 0 15px;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    text-align: left
}

.user-info .registration-footer div i {
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    background: #ffba00;
    width: 5px;
    height: 5px;
    border-radius: 100%
}

.dialog .success {
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.dialog .success i {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url(//static1.shuidichou.com/website/img/142a0a6.png) no-repeat 50%;
    background-size: cover;
    margin: 6px 8px 6px 6px;
    vertical-align: middle
}

.dialog .success .success-content {
    line-height: 62px
}

.dialog .success .tips {
    font-size: 24px
}

.dialog .success span {
    font-size: 16px;
    color: #333
}

.dialog .qrcode-info {
    background: #fbfbfb;
    padding-bottom: 60px
}

.dialog p {
    text-align: center;
    font-size: 16px;
    color: #5e5e5e;
    padding: 20px
}

.dialog p span {
    color: #ffba00
}

.dialog h6 {
    font-size: 12px;
    font-weight: 200;
    color: #333;
    text-align: center;
    padding: 20px
}

.dialog .con-qrcode {
    display: flex;
    justify-content: center
}

.dialog .con-qrcode img {
    width: 200px;
    height: 200px
}

.wrap {
    position: relative;
    height: 650px;
    margin: 0 auto;
    background: #fff
}

.wrap .title {
    display: inline-block;
    margin: 198px 0 0 61px;
    font-size: 63px
}

.wrap .content,
.wrap .title {
    font-family: AlibabaPuHuiTi-Bold;
    color: #34373f;
    letter-spacing: 2px
}

.wrap .content {
    margin: 16px 0 80px 61px;
    font-weight: 700;
    font-size: 25px
}

.wrap .service {
    margin: 0 0 214px 61px;
    font-size: 18px;
    color: #666;
    letter-spacing: .5px
}

.wrap .service>span {
    margin-right: 32px
}

.wrap .img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%
}

.transparent-publicity {
    margin: 0 auto;
    padding-bottom: 117px;
    max-width: 1400px
}

.transparent-publicity-wrapper {
    background: #fafbfc
}

.title {
    padding: 102px 0 40px;
    margin-left: 61px;
    font-size: 30px;
    color: #333;
    letter-spacing: 2px
}

.item {
    display: inline-block;
    padding: 42px 34px;
    width: 346px;
    height: 418px;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 7px 13px 0 hsla(0, 0%, 94.1%, .7);
    border-radius: 27px;
    margin-right: 25px;
    box-sizing: border-box
}

.item-img {
    display: block;
    width: 58px
}


.item-title {
    margin-top: 17px;
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #34373f;
    letter-spacing: 1px;
    line-height: 44px
}

.item-content {
    margin-top: 17px;
    width: 200%;
    line-height: 51px;
    font-size: 27px;
    transform: scale(.5);
    transform-origin: top left;
    color: #333
}

.carousel {
    overflow-x: hidden;
    margin: 0 auto
}

.carousel,
.carousel-wrapper {
    position: relative
}
.carousel-wrapper {
    overflow: hidden;
}

.content {
    display: flex;
    width: 3400px;
    transition: transform 1s
}
.content1 {
    display: flex;
    width: 3400px;
    transition: transform 1s
}

.common-btn {
    position: absolute;
    top: 34px;
    width: 76px;
    height: 127px;
    background: #bdbdbd;
    border-radius: 8px;
    opacity: .3;
    z-index: 2;
    cursor: pointer
}


.next {
    right: 0
}

.next .next-arrow {
    position: absolute;
    top: 50%;
    margin-left: 7.5px;
    width: 25.5px;
    height: 25.5px;
    border-color: currentcolor currentcolor #fff #fff;
    border-right: 3.5px solid #fff;
    border-top: 3.5px solid #fff;
    transform: rotate(45deg) translateY(-50%)
}

.prev {
    left: 0
}

.prev .prev-arrow {
    position: absolute;
    top: 56px;
    left: 12px;
    margin-left: 17px;
    width: 25.5px;
    height: 25.5px;
    border-color: currentcolor currentcolor #fff #fff;
    border-right: 3.5px solid #fff;
    border-top: 3.5px solid #fff;
    transform: rotate(225deg)
}

.transparent-deeds {
    margin: 0 auto;
    max-width: 1400px
}

.left-banner {
    display: block;
    height: 322px
}

.transparent-deeds-wrapper {
    background: #fafbfc
}

.item1 {
    width: 348px;
    border-radius: 16px;
    margin-right: 25px
}

.item1 .item-wrapper {
    font-size: 14px
}

.item1 .item-img1 {
    display: block;
    width: 100%;
    height: 193px;
    border-radius: 8px;
}

.item1 .item-content {
    margin-top: 12px
}


.title {
    margin-bottom: 42.5px;
    margin-left: 61px;
    font-size: 30px;
    color: #333;
    letter-spacing: 1px
}

.footer {
    background: #2c323e;
    width: 100%;
    position: relative;
    clear: both
}

.footer-content {
    width: 1200px;
    margin: 0 auto
}

.footer-content-upper {
    width: 1200px;
    height: 164px
}

.footer-content-below {
    width: 1200px;
    height: 60px
}

.two-bar-codes {
    float: left;
    margin: 46px 0 0 150px
}

.other-img {
    height: 86px;
    float: left;
    margin: 46px 0 0 10px;
    text-align: center
}

.other-img img {
    width: 86px;
    height: 86px
}

.other-img span {
    font-size: 10px;
    color: #767884;
    text-align: left;
    height: 14px;
    line-height: 14px;
    margin-top: 4px;
    display: block
}

.two-bar-codes img {
    width: 86px;
    height: 86px
}

.two-bar-codes-text {
    font-size: 10px;
    color: #767884;
    text-align: left;
    height: 14px;
    line-height: 14px;
    margin-top: 4px
}

.contact-lists {
    float: left;
    margin: 47px 0 0 60px
}

.contact-lists .list {
    font-size: 12px;
    color: #fff;
    text-align: left;
    height: 17px;
    margin-bottom: 20px
}

.contact-lists .list span {
    color: #767884
}

.list a {
    font-size: 12px;
    color: #fff
}

.list .list-icon {
    position: relative;
    top: 4px;
    left: 2px;
    width: 18px
}

.list .list-word {
    color: #fff !important
}

.contact-tel {
    float: right;
    margin: 102px 150px 0 0
}

.contact-tel img {
    width: 30px;
    height: 30px;
    float: left
}

.contact-tel-list {
    float: left;
    font-size: 14px;
    color: #f1f1f1;
    text-align: left;
    margin-left: 11px
}

.contact-tel-list a {
    font-size: 14px;
    color: #fff
}

.contact-tel-list span {
    font-size: 12px;
    color: #737582;
    display: inline-block;
    padding-bottom: 4px;
    height: 14px
}

.friendly-link {
    margin: 20px 0 28px 150px;
    overflow: hidden
}

.friendly-link span {
    font-size: 11px;
    color: #767884;
    text-align: left;
    width: 80px;
    height: 16px;
    float: left
}

.friendly-link li {
    float: left;
    text-align: center
}

.friendly-link li a {
    color: silver;
    font-size: 11px
}

.friendly-link li .blanking {
    width: 3px;
    height: 9px;
    margin: 1px 5px
}

.friendly-link-line {
    width: 16px;
    height: 12px;
    margin-top: 2px
}

.friendly-link-line-img {
    width: 1px;
    height: 8px;
    background: #666464;
    margin: 2px auto
}

.friendly-link li .drop-img {
    background: #707070;
    border-radius: 1px;
    width: 12px;
    height: 12px;
    margin: 3px 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZElEQVQ4T91SwQkAIQxLNrhRb5Qb1Q0qBQU90yL4s9+koUlDHA4P93GjgJk9JIvKRmFTBk4A8AF4/yIRtoSoiJmw/MK40KzIqxwL3ziIOG+x1DNKe9BEEIWaXrDb0BubuOu98yqGRCsR+vx6ggAAAABJRU5ErkJggg==);
    background-size: 100%
}

.footer-banner {
    background: #222834;
    width: 100%;
    height: 48px
}

.footer-banner-content {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    font-weight: 700
}

.footer-banner ul {
    margin: 18px 150px;
    text-align: center
}

.footer-banner li {
    display: inline-block;
    text-align: left;
    height: 48px;
    line-height: 48px
}

.footer-banner li a {
    font-size: 12px;
    color: #c8c8c8
}

.footer-banner-line {
    width: 1px;
    height: 10px;
    background: #666464;
    margin: 0 11px;
    display: inline-flex
}

.footer-licence {
    width: 1200px;
    padding: 0 150px 20px;
    font-size: 10px;
    text-align: center
}

.footer-licence-item {
    margin: 10px 0
}

.footer-licence-item,
.lincence-hover {
    display: flex;
    justify-content: center;
    align-items: center
}

.lincence-hover {
    padding: 0 10px;
    color: #767884
}

.footer-licence .lincence-hover :hover {
    color: silver
}

.footer-licence-icon {
    margin-left: 4px;
    margin-top: -1px;
    width: 12px;
    height: 12px
}